@mixin butnStyle($bg, $color) {
  background-color: $bg;
  color: $color;
  border: 1px solid $color;
  &:hover {
    background-color: $color;
    color: $bg;
  }
}
.product-page-container {
  // position: absolute;
  // top: 12vh;

  margin-top: 12vh;
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1050px) {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  @media screen and (min-width: 1050px) {
    .prod-top-contain {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .conText {
        font-weight: 600;
        padding-top: 10px;
        font-family: "Montserrat";
        font-weight: 500;
      }
      .blink {
        animation: blinker 1.5s linear infinite;
        @keyframes blinker {
          50% {
            opacity: 0;
          }
        }
      }
    }

    .mob-prod-container {
      display: none;
    }

    .prod-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 70vh;
      padding-right: 60px;
      padding-left: 60px;
      margin-bottom: 20px;
      .prod-info-container {
        display: flex;
        flex-direction: column;
        font-size: large;
        font-weight: 300;
        align-self: center;
        width: 20%;
        span {
          margin: 10px;
        }
      }
      .prod-img-container {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // opacity: 0.8;
        // align-items: center;
        width: 58%;
        .prod-img-text-container {
          font-family: proxima-nova, sans-serif;
          letter-spacing: 0;
          font-weight: 700;
        }
        .swiper-scrollbar {
          height: 3px;
        }
        .swiper-scrollbar-drag {
          background: black;
          height: 100%;
        }
        .shoeImg {
          .swiper-container {
            height: 90%;
            width: 100%;
          }
          .swiper-slide {
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
      }
      .prod-size-container {
        width: 18%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        span {
          padding-top: 15px;
          font-weight: 600;
          min-width: fit-content;
        }
      }
      @media screen and (max-width: 1050px) {
        display: none;
      }
    }
    .prod-page-suggest {
      width: 100%;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
    .prod-text {
      width: 50%;
      justify-content: center;
      align-items: center;
      align-self: center;
      text-align: center;
      margin-top: 10px;
    }

    .customFont {
      font-family: "Montserrat";
      font-weight: 350;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 481px) {
    margin-top: 10px;
    .prod-top-contain {
      display: none;
    }
    .prod-container {
      display: none;
    }
    .prod-text {
      justify-content: center;
      align-items: center;
      align-self: center;
      text-align: left;
      margin-top: 10px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .mob-prod-container {
      .prod-img-container {
        margin-top: 150px;
        font-size: 35px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // opacity: 0.8;
        // align-items: center;
        width: 100%;
        min-height: 45vh;
        margin-bottom: 13px;
        .conText {
          font-family: "Montserrat";
          font-size: small;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .blink {
          animation: blinker 1.5s linear infinite;
          @keyframes blinker {
            50% {
              opacity: 0;
            }
          }
        }
        .prod-img-text-container {
          font-family: proxima-nova, sans-serif;
          letter-spacing: 0;
          font-weight: 700;
          font-size: 40px;
        }
        .swiper-scrollbar {
          height: 3px;
          margin-left: 5%;
          margin-right: 5%;
          width: 90%;
          left: 0;
        }
        .swiper-scrollbar-drag {
          background: black;
          height: 100%;
        }
        .shoeImg {
          .swiper-container {
            height: 90%;
            width: 100%;
          }
          .swiper-slide {
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
        }
        // img {
        //   max-width: 100%;
        //   max-height: 100%;
        // }
      }

      .mob-prod-top-contain {
        width: 100%;
        padding: 15px;
        position: sticky;
        top: 7vh;
        background-color: white;
        z-index: 1;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        //for now
        .sizeSlctbtn {
          width: 100%;
          height: 40px;
          margin: 10px auto;
          border: 1px solid lightgrey;
          background-color: transparent !important;
          .fill_size {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            font-size: 18px;
            padding: 0px 10px;
            span {
              font-weight: 600;
            }
          }
        }
        .btnContainers {
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          .customBtnn {
            height: 100%;
            width: 48%;
            &.cstoffer {
              @include butnStyle(red, white);
            }
            &.buynow {
              @include butnStyle(white, black);
            }
          }
        }
      }

      .mob-prod-img-container {
        display: flex;
        width: 100%;
        height: 40vh;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: scaleX(-1);
        filter: FlipH;
      }

      .prod-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        align-self: center;
        .prod-price-container {
          font-size: 1.5rem;
        }
      }
    }
    .prod-page-suggest {
      width: 100%;
      justify-content: center;
      align-items: center;
      align-self: center;

      .suggestions {
        margin: 0px;
        .sug-txt {
          margin: 0px;
          margin-top: 20px;
          padding-left: 22px;
          font-size: larger;
        }
      }

      .card {
      }
    }
    // .prod-text {
    //   width: 50%;
    //   justify-content: center;
    //   align-items: center;
    //   align-self: center;
    //   text-align: center;
    //   margin-top: 10px;
    // }
    .customFont {
      font-family: "Montserrat";
      font-weight: 100;
    }
  }
}
// new styles wala done
.borderedDiv {
  border-radius: 0.25rem;
  border: 1px solid lightgrey;
}
.removeBorder {
  border: 0px !important;
}
hr {
  flex-shrink: 1 !important;
  margin: 0px;
}
.customerBuyClass {
  height: 40px;
  background-color: lightgrey;
  .col-2 {
    img {
      height: 70%;
      object-fit: contain;
    }
  }
  .col-10 {
    font-size: 1em;
    font-weight: 600;
  }
}
.authenticImg {
  width: 90px;
  height: 90px;
  object-fit: contain;
}
.fill_size {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 18px;
  padding: 0px 10px;
  span {
    font-weight: 600;
  }
}
