li a {
  font-size: small;
  color: gray;
  margin-bottom: 5px;
}

ul li a:hover {
  color: red;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.listULs {
  width: 200px;
  max-width: 200px;
}

.h6 {
  font-size: 14px;
}

@media screen and (max-width: 460px) {
  .listULs {
    width: 300px;
    max-width: 300px;
  }
}
