.col-11 {
  .row {
    h1 {
      font-size: 1.9em;
    }
    .nextButton {
      height: 100%;
      width: 100%;
      background-color: transparent !important;
      border: 0px !important;
      outline: 0px !important;
    }
    .productShowDiv {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 10px;
      overflow-y: hidden;
      overflow-x: auto;
      .CustomcardDiv {
        height: 100%;
        width: 200px;
        background-color: white;
        border: 3px solid #ededed;
        /* max-width: 250px; */
        cursor: pointer;
        .cardImg {
          width: 100%;
          object-fit: contain;
        }
        .textCont {
          width: 90%;
          margin: 10px auto;
          color: black !important;
          .lastSoldDiv {
            width: 100%;
            padding: 5px 10px;
            background-color: hsl(0, 0%, 94%);
          }
        }
      }
    }
  }
}
