
@media screen and (max-width: 480px) {

  .navbrand {
    width: 130px !important;
  }

  .container-fluid {
    display: flex !important;
    flex-direction: row-reverse !important;
  }

  .headerSection {
    height: 7vh !important;  
    background-color: white !important;
  }
  .greyNavigation {
    margin-top: 7vh !important;
  }

  .searchBtnHeader img {
    width: 20px !important;    
  }
  .smallMenuBtns img {
    width: 25px;
  }
}

.headerSection {
  height: 10vh;
}

.headerBtn {
  padding: 8px 24px 8px 24px !important; 
  font-size: 17px;
  /* border-radius: 5px !important; */

  margin-right: 10px !important;
}

.nav-priconmob {
  display: none;
}
.container-fluid .smallMenuBtns {
  width: 40px;
  height: 50px;
  border: 0px !important;
  outline: 0px !important;
  background-color: transparent;
  display: none;
}
.container-fluid .smallMenuBtns .MuiSvgIcon-root {
  font-size: 35px;
  color: grey;
  display: none;
}
.drop-shadow {
  /* -moz-box-shadow: 0px 0px 0px 1px #ccc;
  -webkit-box-shadow: 0px 0px 0px 1px #ccc;
  box-shadow: 0px 0px 0px 1px #ccc; */
}
.navbar-brand {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

#basic-nav-dropdown::after {
  display: none;
}

.dropdown-menu {
  background-color: black;
  width: 200px;
}
.loginButtonCustom {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid red;
  color: red !important;
  transition: all 0.3s ease-in-out;
}
.loginButtonCustom:hover {
  background-color: red;
  color: white !important;
}
.centeredBtnsClass {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px !important;
}
.dropdown-item {
  color: white;
  background-color: black !important;
  user-select: none;
  margin-right: 0px;
}

.dropdown-item:hover {
  color: red;
  background-color: black;
}

.sldbtn {
  margin-right: 45px;
  padding-top: 5px;
}

.navs {
  font-size: 16px;
  font-weight: 649;
}

/* @media screen and (max-width: 830px) {
  .navs {
    display: none;
  }
  .navbrand {
    margin-left: 0;
  }
  .navbar-brand {
    margin-left: 5px;
    width: fit-content;
    align-items: flex-start;
  }

  .sldbtn {
    margin-right: 5px;
  }

  .navbar-brand img {
    margin-left: 0;
  }
} */
@media screen and (max-width: 992px) {
  /* .container-fluid {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  } */
  .container-fluid .navbar-collapse.collapse {
    display: none !important;
  }
  .container-fluid .navbar-toggler.collapsed {
    display: none !important;
  }
  .container-fluid .smallMenuBtns {
    display: block;
  }
  .container-fluid .smallMenuBtns .MuiSvgIcon-root {
    display: block;
  }
}
@media screen and (max-width: 830px) {
  .drop-shadow {
    /* -moz-box-shadow: 0px 0px 0px 1px black;
    -webkit-box-shadow: 0px 0px 0px 1px black;
    box-shadow: 0px 0px 0px 1px black; */
  }
  .nav-pricon {
    display: flex;
  }

  .nav-priconmob {
    display: block;
  }

  .navbar-brand {
    margin: 0px;
  }

  .sldbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
  }

  .sellbtn {
    display: none;
  }
}

.searchIcon:hover {
  background: url("http://dummyimage.com/100x100/eb00eb/fff");
}
