.f-container {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 0;
  width: fit-content;
  justify-content: center;
  align-self: center;
  font-size: 12px;
  font-weight: 600;
  justify-self: flex-start;
}
